
<h1>Checkout</h1>


<div class="">
  <%= link_to "Back to cart", cart_path(@current_cart) %>
</div>

<form action="/orders" method="post" id="new_order">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="order[stripe_payment_id]" id="payment">

  <div class="field">
    <label for="FirstName">First name</label>
    <input type="text" name="order[first_name]" id="FirstName">
  </div>

  <div class="field">
    <label for="LastName">Last name</label>
    <input type="text" name="order[last_name]" id="LastName">
  </div>


  <div class="field">
    <label for="Email">Email</label>
    <input type="text" name="order[email]" id="Email">
  </div>

  <div class="field">
    <label for="Address1">Address</label>
    <input type="text" name="order[address_1]" id="Address1">
  </div>

  <div class="field">
    <label for="Address2">Apt, suite, etc (optional)</label>
    <input type="text" name="order[address_2]" id="Address2">
  </div>

  <div class="field">
    <label for="City">City</label>
    <input type="text" name="order[city]" id="City">
  </div>

  <div class="field">
    <label for="PostalCode">Postal code</label>
    <input type="text" name="order[postal_code]" id="PostalCode">
  </div>

  <div class="field">
    <label for="PostalCode">Country</label>
    <input type="text" name="order[country]" id="Country">
  </div>


<div id="card-errors">
  <% @order.errors[:stripe_payment_id].each do |message| %>
<p class="error"><%= message %></p>
<% end %>
</div>

<p>
  Sub total: <%= number_to_currency @order.total_price %>
</p>
<p>Shipping + Taxes: $0.00</p>
--------------------------------

<p id="amount"><%= number_to_currency @order.total_price.to_i %> </p>

<div id="card" class="card-order">
  <!-- card element appears here -->
</div>


   <input type="submit" value="Confirm order and pay">

   </form>


  <script charset="utf-8">

  (function(){

  var stripe = Stripe('<%= Rails.application.credentials[Rails.env.to_sym][:stripe_public_key] %>');
    // load the fonts in
  var fonts = [{
    cssSrc: "https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400)",
  }];
  // styles for the stripe inputs
  var styles = {
    base: {
      iconColor: "#524FFD",
      color: "#524FFD",
      fontFamily: "Roboto Slab",
      fontSize: "16px",
      fontSmoothing: 'antialiased',

      "::placeholder": {
        color: "#524FFD"
      },
      ":-webkit-autofill": {
        color: "#ccc"
      }
    },
    invalid: {
      iconColor: "#524FFD",
      color: "#524FFD"
    }
  }

  var elements = stripe.elements();
  var cardElement = elements.create('card', {style: styles});
  cardElement.mount('#card');

  const form = document.querySelector('#new_order');
  form.addEventListener('submit', function(e) {
    e.preventDefault();
    // Step 1: POST request to create payment intent

    fetch('/payment_intents', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        authenticity_token: '<%= form_authenticity_token %>',
      }),
    })
    .then((response) => response.json())
    .then((paymentIntent) => {
      // Step 2: Create payment method and confirm payment intent.
      stripe.confirmCardPayment(
        paymentIntent.client_secret, {
          payment_method: {
            card: cardElement
          }
        }
      ).then((resp) => {
        if (resp.error) {
          $("#card-errors").html(resp.error.message)
        } else {
          // Step 3: Embed payment ID in form
          const paymentIdInput = document.querySelector('#payment');
          paymentIdInput.value = paymentIntent.id;
          form.submit();
        }
      })
    })
    .catch((error) => {
      console.error('Error:', error);
    });
  });
   })();
</script>
