<h2>Cart</h2>

<% if @current_cart.order_items.any? %>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Qty</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @current_cart.order_items.each do |item| %>

      <tr>
        <td>
          <%= item.product_variant.product.title %>
        </td>
        <td>
          <%= item.product_variant.item %>/<%= item.product_variant.size %>/<%= item.product_variant.color %>
        </td>
        <td>
          <%= number_to_currency item.product_variant.price_in_dollars %>
        </td>
        <td>
          <%= item.quantity %>
        </td>
        <td>
          <%= link_to "Remove", product_variant_order_item_path(item.product_variant, item), method: :delete %>
        </td>

      </tr>

    <% end %>
  </tbody>
</table>

<p>
  Total: <%= number_to_currency @current_cart.total_price_in_dollars %>
</p>

<p>
  <%= link_to "Continue to checkout", new_order_path %>
</p>



<% else %>
  <p class="empty">There are no items in your cart</p>
<% end %>
