<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Qty</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @current_cart.order_items.each do |item| %>

      <tr>
        <td>
          <%= image_tag product.cover_image.store.url, width: "50" %>
          <%= item.product.title %>
        </td>
        <td><%= number_to_currency item.product_variant.price_in_dollars %></td>
        <td>
          <%= simple_form_for [item.product, item] do |f| %>
            <%= f.input :quantity, label: false %>

            <%= f.button :submit, "Update quantity" %>
          <% end %>
        </td>
        <td>
          <%= link_to "Remove", product_variant_order_item_path(item.product_variant, item), method: :delete %>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>

<p>
  Total: <%= number_to_currency @current_cart.total_price_in_dollars %>
</p>

<p>
  <%= link_to "Continue to checkout", new_order_path %>
</p>
