
<%= link_to products_path do %>
<h4>Back to store gallery</h4>
<% end %>

<section class="flexbox">
  <div class="flex">
      <%= image_tag @product.image_1.show.url %>
  </div>
  <div class="flex">
      <h2><%= @product.title %></h2>

      <div class="product-description">
        <h5>Description:</h5>
          <p><%= @product.description %></p>
      </div>
  </div>
</section>


<%= simple_form_for [@product, @product_variant] do |f| %>
<%= f.input :id, as: :select, collection: @product_variants %>
<% end %>


<div class="product-variants">
  <% @product.product_variants.each do |product_variant| %>
    <%= product_variant.item %> /
    <%= product_variant.size %> /
    <%= product_variant.color %> /
    $<%= product_variant.price %>
  <% end %>
</div>
