
<%= link_to products_path do %>
<h4>Back to store gallery</h4>
<% end %>

<section class="flexbox">
  <div class="flex">
      <%= image_tag @product.image_1.show.url %>
  </div>
  <div class="flex">
      <h2><%= @product.title %></h2>

      <div class="product-description">
        <h5>Description:</h5>
          <p><%= @product.description %></p>
      </div>
  </div>
</section>


<%= simple_form_for [@product_variant, @order_item] do |f| %>
  <%= f.input :quantity %>
  <%= f.association :product_variant, label_method: :name_of_method %>

  <%= f.button :submit, "Add to cart" %>
<% end %>
