<!DOCTYPE html>
<html>
  <head>
    <title>Warlock</title>
   <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'global', media: 'all', 'data-turbolinks-track': 'reload' %>
 <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  <%= favicon_link_tag asset_path('WFav.png') %>
  </head>

    <body>

  <header>

          <%= link_to root_path do %>
          <%= image_tag("Wlogo.svg", alt: "Warlock-Logo") %>
          <% end %>



  <nav>


    <span>
      <a href="#Apparel" id="red">Apparel</a>
      <a href="#PosterProducts" id="blue">Poster products</a>
      <a href="#Other" id="orange">Other</a>
      <a href="#contact" id="green">Contact</a>

        <%= link_to cart_path do %>

        <ion-icon name="cart-outline"></ion-icon>
          <span class="quantity"><%= @current_cart.total_quantity %> </span>
           <% end %>


    </span>



      <!-- <section id="nav-container">
          <div class="bg"></div>
          <div class="button" tabindex="0">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <div id="nav-content" tabindex="0">
          <ul>
            <li><a href="#0"><h3>About</h3></a></li>
            <li><a href="#0"><h3>Shipping</h3></a></li>
            <li><a href="#0"><h3>Contact</h3></a></li>
          </ul>
        </div>
      </section> -->

    </nav>
</header>

  <% if flash[:success].present? %>
   <div class="flash-success">
     <%= flash[:success] %>
   </div>
 <% end %>



    <main>
    <%= yield %>
    </main>

    <footer>© Warlock Enterprises 2020, All Rights Reserved</footer>

  </body>
</html>
