<!DOCTYPE html>
<html>
  <head>
    <title>Warlock</title>
   <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'global', media: 'all', 'data-turbolinks-track': 'reload' %>
 <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  <%= favicon_link_tag asset_path('WFav.png') %>
  </head>

    <body>
      <div id="page-container">
        <div id="content-wrap">

  <header>

          <%= link_to root_path do %>
          <%= image_tag("Wlogo.svg", alt: "Warlock-Logo") %>
          <% end %>



  <nav>


    <span>
      <%= link_to "Apparel", products_path, id: "red" %>
      <%= link_to "Prints", prints_path, id: "blue" %>
      <%= link_to "NFTs", nfts_path, id: "orange" %>
      <%= link_to "What is Warlock?", about_path, id: "green" %>

        <%= link_to cart_path do %>

        <ion-icon name="cart-outline"></ion-icon>
          <span class="quantity"><%= @current_cart.total_quantity %> </span>
           <% end %>


    </span>

<%# hamburger menu %>
      <!-- <section id="nav-container">
          <div class="bg"></div>
          <div class="button" tabindex="0">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <div id="nav-content" tabindex="0">
          <ul>
            <li><a href="#0"><h3>About</h3></a></li>
            <li><a href="#0"><h3>Shipping</h3></a></li>
            <li><a href="#0"><h3>Contact</h3></a></li>
          </ul>
        </div>
      </section> -->

    </nav>
</header>

  <% if flash[:success].present? %>
   <div class="flash-success">
     <%= flash[:success] %>
   </div>
 <% end %>



    <main>
    <%= yield %>
    </main>

    <footer class="footer-flex" id="footer">
      <span class="first">© Warlock Enterprises <%= Time.current.year %>, All Rights Reserved</span>
      <span>lol@warlockenterprises.com</span>
    </footer>
  </div>
</div>
  </body>
</html>
