<!DOCTYPE html>
<html>
  <head>
    <title>Warlock</title>
   <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'global', media: 'all', 'data-turbolinks-track': 'reload' %>
 <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://js.stripe.com/v3/"></script>
  <%= favicon_link_tag asset_path('WFav.png') %>
  </head>

    <body>

  <header>

          <%= link_to root_path do %>
          <%= image_tag "Wlogo.svg" %>
          <% end %>

  <nav>

    <%= link_to cart_path do %>
         Cart (<%= @current_cart.total_quantity %> items, <%= number_to_currency @current_cart.total_price_in_dollars %>)
       <% end %>
  </nav>

  </header>

  <% if flash[:success].present? %>
   <div class="flash-success">
     <%= flash[:success] %>
   </div>
 <% end %>


    <%= yield %>
  </body>
</html>
