<!DOCTYPE html>
<html>
  <head>
    <title>Warlock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'global', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('WFav.png') %>
  </head>

    <body>

  <header>
        

          <%= image_tag "Wlogo.svg" %>

  <nav>
    <a href="#">Cart (0)</a>
  </nav>

  </header>


    <%= yield %>
  </body>
</html>
