
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Warlock</title>
 <%= csrf_meta_tags %>
<%= csp_meta_tag %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag 'global', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<%= favicon_link_tag asset_path('WFav.png') %>
</head>
  <body>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
